<nav>
  <div class="nav-wrapper">
    <!--<a href="#!" class="brand-logo center">Goals Tracker</a>-->

    <ul class="center center-align center-block hide-on-med-and-down">
      <li><a href="<%= goals_url %>">Goals</a></li>
      <li><a href="badges.html">Paths</a></li>
      <li class="active"><a href="collapsible.html">Tailored Paths</a></li>
    </ul>
  </div>
</nav>